src/main/app/mulejrecordtest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="mulejrecordtestFlow">
		<file:inbound-endpoint path="/Users/yreddy/AnypointStudio/workspace3.9/mulejrecordtest/src/main/resources/input/"
			moveToDirectory="/Users/yreddy/AnypointStudio/workspace3.9/mulejrecordtest/src/main/resources/output/" responseTimeout="10000" doc:name="File" />
        <logger message="File: #[payload]" level="INFO" doc:name="Logger"/>
        <component class="gov.sc.dhhs.cgisofm.parser.ebcdic.cp037.BuyInTypeAInboundParser" doc:name="Java"/>
		<logger level="INFO" doc:name="Logger" />
	</flow>
    <flow name="mulejrecordtestFlow1">
        <set-payload value="#[message.inboundProperties.directory + &quot;/&quot; + message.inboundProperties.originalFilename]" doc:name="Set Payload"/>
    </flow>
</mule>
