src/main/app/mulejrecordtest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="mulejrecordtestFlow">
		<file:inbound-endpoint path="/Users/yreddy/AnypointStudio/workspace3.9/mulejrecordtest/src/main/resources/input/"
			moveToDirectory="/Users/yreddy/AnypointStudio/workspace3.9/mulejrecordtest/src/main/resources/output/" responseTimeout="10000" doc:name="File" />
        <logger message="File: #[payload]" level="INFO" doc:name="Logger"/>
        <component class="gov.sc.dhhs.cgisofm.parser.ebcdic.cp037.BuyInTypeAInboundParser" doc:name="Java"/>
		<logger level="INFO" doc:name="Logger" />
	</flow>
    <flow name="mulejrecordtestFlow1">
        <set-payload value="#[message.inboundProperties.directory + &quot;/&quot; + message.inboundProperties.originalFilename]" doc:name="Set Payload"/>
    </flow>
    <flow name="WebPrcoessingOfJRecord">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jrecord" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-variable variableName="JRECORD_MAPPING_FILE" value="${JRECORD_MAPPING_FILE}" doc:name="JRecord MApping File Variable"/>
        <set-variable variableName="INBOUND_DATA_FILE" value="${INBOUND_DATA_FILE}" doc:name="Inbound Data File Variable"/>
        <set-payload value="#[flowVars.INBOUND_DATA_FILE]" doc:name="Set Payload"/>
        <component class="gov.sc.dhhs.cgisofm.parser.ebcdic.cp037.BuyInTypeAInboundParser" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="Payload: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
